.bunsen
bunsen-data
__pycache__
*.pyc
private-*
wd-*
*~
.idea

# example projects
/binutils-gdb
/systemtap
/gcc

# bunsen-cgi.py server via lighttpd
*.log
bunsen-lighttpd.conf

# temporary cache
regressions-*
