.bunsen
bunsen-data
__pycache__
*.pyc
private-*
wd-*
*~
.idea
TODO.org

# example projects
binutils-gdb
systemtap
gcc

# test data
systemtap.*

# bunsen-cgi.py server via lighttpd
*.log
bunsen-lighttpd.conf

# temporary cache
regressions-*
